body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.section1a{
    display: flex;
    padding: 10px 200px;
    background-color: #1f2937;
    justify-content: space-between;
}

.vergefulwebsite{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display:flex;
    gap: 20px;
    filter:contrast(0.7);
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section1b{
    display:flex;
    padding: 75px 200px;
    background-color: #1f2937;
    justify-content: space-between;
    color: #F9FAF8;
}

.left1{
    width: 400px;;
}

.awesomewebsite{
    font-size: 48px;
    font-weight: 700;
}

.lowercontrast{
    filter:contrast(0.7);
}

.button1{
    margin-top: 12px;
    background-color: #3882f6;
    padding: 4px 30px;
    color: #F9FAF8;
    border-radius: 10px;
    border: 0px;
}


.section1b img{
    height: 250px;
    width: 500px;
}

.section2{
    background-color: #F9FAF8;
    padding: 10px 200px;
}

.header2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin: 50px 0px;
}

.picture{
    width: 200px;
    height: 200px;
    border-radius: 30px;;

}

.itemlist{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 52px;
    padding-bottom: 100px;
}

.item{
    display:flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.section3{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px 200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    filter:contrast(0.7);
    width: 1000px;
    margin-bottom: 5px;
}

.author{
    display:flex;
    justify-content: flex-end;
    width: 1000px;
    font-size: 26px;
    font-weight: bold;
}

.section4{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 90px 200px;
    background-color: #F9FAF8;
}

.modal{
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 50px 200px;
    justify-content: space-between;
    gap: 80px;
    border-radius: 10px;
}

.right4 button{
    border: solid;
    border-radius: 10px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    border-width: 1px;
    background-color:#3882f6;
    padding: 4px 16px;
}

.right4{
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    background-color: #1f2937;
    color: #F9FAF8;
}